<div class="flex flex-col items-center  bg-white w-11/12 mx-auto "> 
<a  href='<%= link%>'>
    <div class="bg-white rounded-xl shadow-lg overflow-hidden text-center pb-7" >
      <img src="<%= immagine %>" alt="Ricetta 1" class="w-full h-150 object-cover mb-5">
      <h1 class='text-3xl text-white text-center bg-[#439953] w-6/12 mx-auto p-1 rounded-3xl shadow-xl border border-green-300 mb-3'><%= titolo%></h1>
      <h1 class='text-lg text-black text-center mx-auto'><%= testo%></h1>
    </div>
</a>
</div>