<img src='https://ilfattoalimentare.it/wp-content/uploads/2020/04/fattorino-food-delivery-consegna-a-domicilio-mascherina-guanti-AdobeStock_332979876-scaled.jpeg' class='w-8/12 mx-auto mb-10'>
<h1 class='text-3xl text-center'>Consegne</h1>