<img src='https://www.teatroregio.torino.it/sites/default/files/styles/full/public/uploads/page/3702/cover/contatti-1.png?itok=c4Olljvz' class='w-8/12 mx-auto mb-10'>
<h1 class='text-3xl text-center'>Contatti</h1>