<div id="<%= dom_id healthy %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Titolo:</strong>
    <%= healthy.titolo %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Descrizione:</strong>
    <%= healthy.descrizione %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Prezzo:</strong>
    <%= healthy.prezzo %>
  </p>
</div>
