<% content_for :title, "Editing healthy" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing healthy</h1>

  <%= render "form", healthy: @healthy %>

  <%= link_to "Show this healthy", @healthy, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to healthies", healthies_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
